

.navbar-brand {
  margin-left: 40px;
  color: rgb(74, 57, 20);
  font-size: 30px;
}

.navbar-brand:hover{
  color: rgb(74, 57, 20);
}

.navbar-nav {
  margin-right: 40px;
}
.logo {
  width: 40px;
}
.nav-link{
  color: rgb(70, 54, 8);
  font-size: 20px;
}
.nav-link:hover {
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.btn {
  background-color: blanchedalmond;
  color: rgb(74, 57, 20);
  border: none;
}

.nav-item {
  margin-right: 10px;
}

.card {
  margin: 20px;
  display: inline-block;
  align-items: center;
}

.container {
  justify-content: center;
  display: flex;
}

blockquote {
  color: rgba(0, 0, 0, 0.534);
  font-size: 12px;
}

#Contact {
  margin-right: 40px;
  margin-left: 40px;
}

.cont {
  color: rgb(74, 57, 20);
}


.name {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
}

.formm {
  margin-left: 40px;
  margin-right: 40px;
}

